body {
    background: linear-gradient(to right, rgb(0, 95, 0), green, green);
}

.wrapper {
    width: 70%;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 20px;
    font-size: 6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(208, 214, 218);
}


.dice-area {
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

.dice-area2 {
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p {
    font-size: 2.5rem;
    color: rgb(208, 214, 218);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    width: 320px;
}

.img2 {
    width: 160px;
}

.buttons {
    width: 5.5rem;
    height: 2.5rem;
}

#chatFrame {
    width: 50%;
    height: 50em;
}

.chat {
    text-align: center;
}