<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll the device</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body onload="getGameSession(), loadUser(), prepareTemplate()">
<div class="wrapper">
    <h1></h1>
    <h2 id="round"></h2>
    <div class="dice-area">
        <p id="user1">
            User1
            <!--hier gehört ein APICall hin-->
        </p>
        <p id="score-player1">
            0
        </p>
        <img src="" alt="">
    </div>
    <div class="dice-area">
        <p id="user2">
            User2
            <!--hier gehört ein APICall hin-->
        </p>
        <p id="score-player2">
            0
        </p>
        <img src="" alt="">
    </div>
    <div>
        <input id="rollTheDiceBtn"class="buttons" type="button" value="roll the dice" onclick="rollTheDiceNew1()">
    </div>
</div>


<script type="text/javascript" th:src="@{/script.js}"></script>
<script type="text/javascript" th:src="@{/js/in-game-logic/game-logic.js}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>

</body>

</html>